@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

* {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
}

.scene-grid {
  display: grid;
  grid-template-column: 1fr 1fr 1fr 1fr;
}

.tree-panel {
  grid-area: tree-panel;
}

.setting-form {
  grid-area: setting-form;
}

.geometries-panel {
  grid-area: geometries-panel;
}
